<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
  	<extension point="org.knime.workbench.repository.categories">
      <category description="High Throughput Screening" icon="icons/HiTS.png" level-id="HiTS" name="HiTS" path="/community/"/>
      <category description="Views" icon="icons/HiTS.png" level-id="view" name="View" path="/community/HiTS/"/>
   	</extension>

   	<extension point="org.knime.workbench.repository.nodes">
      <node category-path="/community/HiTS/" factory-class="com.mind_era.knime.hits.xls.ImporterNodeFactory" id="com.mind_era.knime.hits.xls.ImporterNodeFactory"/>
      <node category-path="/community/HiTS/" factory-class="com.mind_era.knime.hits.cellhts2.configurator.simple.SimpleConfiguratorNodeFactory" id="com.mind_era.knime.hits.cellhts2.configurator.simple.SimpleConfiguratorNodeFactory"/>
      <node category-path="/community/HiTS/" factory-class="com.mind_era.knime.hits.view.heatmap.HeatmapNodeFactory" id="com.mind_era.knime.hits.view.heatmap.HeatmapNodeFactory"/>
    </extension>
	<!--extension point="org.knime.workbench.repository.metanode">
		<PersistedMetaNode after="" category-path="/" description="Reorganise the columns of a table using a clustering algorithm." expert-flag="true" icon="icons/HiTS.png" id="ie.tcd.imm.hits.ClusterColumns" name="Cluster Columns" workflowDir="metaworkflows/Cluster Columns">
		</PersistedMetaNode>
	</extension-->
	<extension point="org.knime.product.splashExtension">
    	<splashExtension icon="icons/HiTS.png" id="ie.tcd.imm.hits.splashExtension"/>
	</extension>
   	<extension point="org.eclipse.equinox.preferences.preferences"/>
   	<extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.workbench.ui.preferences" class="com.mind_era.knime.hits.cellhts2.prefs.MainPreferencePage" id="com.mind_era.knime.hits.cellhts2.prefs.MainPreferencePage" name="HiTS Preferences">
      	<!--keywordReference id="ie.tcd.imm.hits.help.pref.columnSelection"/-->
      </page>
   	</extension>
   	<extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.mind_era.knime.hits.cellhts2.prefs.PreferenceInitializer"/>
   	</extension>
   	<extension point="org.eclipse.help.toc">
      <toc file="HiTSToc.xml" primary="true"/>
      <toc extradir="help" file="toc.xml"/>
	  <toc extradir="html" file="tocs/HiTS_nodes.xml"/>
	  <toc extradir="html" file="tocs/view_nodes.xml"/>
      <!--toc extradir="html" file="tocs/meta_nodes.xml"/-->
      <toc extradir="html" file="tocs/HiTS.xml"/>
    </extension>
   	<extension point="org.eclipse.help.base.searchParticipant">
      <binding participantId="org.eclipse.help.base.xhtml"/>
   	</extension>
   	<extension point="org.eclipse.help.contentProducer">
      <binding producerId="org.eclipse.help.dynamic"/>
   	</extension>
   	<!--extension
          id="ie.tcd.imm.hits.help"
          name="ie.tcd.imm.hits.help"
          point="org.eclipse.help.contexts">
   		<contexts file="help/contexts/contexts.xml" plugin="ie.tcd.imm.hits"/>
   	</extension-->
</plugin>
