<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ie.tcd.imm.knime.test">
  <test verbose="2" name="ie.tcd.imm.hits.knime.view.impl" annotations="JDK">
    <classes>
      <class name="ie.tcd.imm.hits.knime.view.impl.ControlTests"/>
    </classes>
  </test>
  <test verbose="2" name="ie.tcd.imm.hits.common" annotations="JDK">
    <classes>
      <class name="ie.tcd.imm.hits.common.TestFormat"/>
    </classes>
  </test>
</suite>
