<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.help.toc">
   	  <toc file="tocs/HiTS.xml"/>
   </extension>
   <extension point="org.eclipse.help.contentProducer">
      <binding producerId="org.eclipse.help.dynamic"/>
   </extension>
</plugin>
