<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/community/HiTS/" factory-class="com.mind_era.knime.hits.interop.BioConverterNodeFactory" id="ie.tcd.imm.hits.knime.interop.BioConverterNodeFactory"/>
      <node category-path="/community/HiTS/" factory-class="com.mind_era.knime.hits.plate.format.PlateFormatNodeFactory" id="ie.tcd.imm.hits.knime.plate.format.PlateFormatNodeFactory"/>
   </extension>
   
   <extension point="org.eclipse.help.toc">
      <toc extradir="html" file="tocs/libhandl_nodes.xml"/>
      <toc file="tocs/toc.xml"/>
      <toc file="tocs/toc_Interoperability.xml"/>
   </extension>
   <!--extension point="org.eclipse.help.base.luceneSearchParticipants">
      <binding participantId="org.eclipse.help.base.xhtml"/>
   </extension-->
   <extension point="org.eclipse.help.contentProducer">
      <binding producerId="org.eclipse.help.dynamic"/>
   </extension>
</plugin>
