<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   	<extension point="org.eclipse.equinox.preferences.preferences"/>
   	<extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.workbench.ui.preferences" class="com.mind_era.knime.common.view.prefs.ColourPreferencePage" id="com.mind_era.knime.common.view" name="Default colour codes">
      </page>
   	</extension>
   	<extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.mind_era.knime.common.view.prefs.ColourPreferenceInitializer"/>
   	</extension>
   	<!--extension point="org.eclipse.help.toc">
      <toc file="HiTSToc.xml" primary="true"/>
      <toc extradir="help" file="toc.xml"/>
	  <toc extradir="html" file="tocs/distmatrix_nodes.xml"/>
	  <toc extradir="html" file="tocs/HiTS_nodes.xml"/>
	  <toc extradir="html" file="tocs/view_nodes.xml"/>
      <!- -toc extradir="html" file="tocs/meta_nodes.xml"/- ->
      <toc extradir="html" file="tocs/HiTS.xml"/>
    </extension-->
   	<!--extension point="org.eclipse.help.base.luceneSearchParticipants">
      <binding participantId="org.eclipse.help.base.xhtml"/>
   	</extension-->
   	<extension point="org.eclipse.help.contentProducer">
      <binding producerId="org.eclipse.help.dynamic"/>
   	</extension>
   	<!--extension
          id="ie.tcd.imm.hits.help"
          name="ie.tcd.imm.hits.help"
          point="org.eclipse.help.contexts">
   		<contexts file="help/contexts/contexts.xml" plugin="ie.tcd.imm.hits"/>
   	</extension-->
</plugin>
