<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   	<extension point="org.knime.workbench.repository.nodes">
      <node category-path="/HiTS/" factory-class="ie.tcd.imm.hits.knime.view.dendrogram.viewonly.DendrogramNodeFactory" id="ie.tcd.imm.hits.knime.view.dendrogram.viewonly.DendrogramNodeFactory"/>
   	  <node category-path="/labs/distmatrix/" factory-class="ie.tcd.imm.hits.knime.util.sortby.SortByClusterNodeFactory" id="ie.tcd.imm.hits.knime.util.sortby.SortByClusterNodeFactory"/>
   	  <node category-path="/labs/distmatrix/" factory-class="ie.tcd.imm.hits.knime.util.leaf.ordering.LeafOrderingNodeFactory" id="ie.tcd.imm.hits.knime.util.leaf.ordering.LeafOrderingNodeFactory"/>
	  <node category-path="/labs/distmatrix/" factory-class="ie.tcd.imm.hits.knime.util.leaf.ordering.ReverseOrderNodeFactory" id="ie.tcd.imm.hits.knime.util.leaf.ordering.ReverseOrderNodeFactory"/>
   	</extension>
   	<extension point="org.eclipse.help.toc">
   	   	<toc extradir="html" file="tocs/distmatrix_nodes.xml"/>
   	   	<toc extradir="html" file="tocs/HiTS_nodes.xml"/>
   	   	<toc extradir="help" file="tocs/toc.xml"/>
   	</extension>
</plugin>
