<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="High Throughput Screening"
            icon="icons/HiTS.png"
            level-id="HiTS"
            name="HiTS"
            path="/"/>
   </extension>
   
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/HiTS/" factory-class="ie.tcd.imm.hits.knime.xls.ImporterNodeFactory" id="ie.tcd.imm.knime.xls.ImporterNodeFactory"/>
   	  <node category-path="/HiTS/" factory-class="ie.tcd.imm.hits.knime.cellhts2.worker.CellHTS2NodeFactory" id="ie.tcd.imm.knime.cellhts2.CellHTS2NodeFactory"/>
      <node category-path="/HiTS/" factory-class="ie.tcd.imm.hits.knime.cellhts2.configurator.simple.SimpleConfiguratorNodeFactory" id="ie.tcd.imm.knime.cellhts2.configurator.simple.SimpleConfiguratorNodeFactory"/>
   	  <node category-path="/HiTS/" factory-class="ie.tcd.imm.hits.knime.biomart.BiomartAnnotatorNodeFactory" id="ie.tcd.imm.knime.biomart.BiomartAnnotatorNodeFactory"/>
      <node category-path="/HiTS/" factory-class="ie.tcd.imm.hits.knime.view.heatmap.HeatmapNodeFactory" id="ie.tcd.imm.knime.view.heatmap.HeatmapNodeFactory"/>
   </extension>
   <extension point="org.eclipse.equinox.preferences.preferences"/>
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.workbench.ui.preferences" class="ie.tcd.imm.hits.knime.cellhts2.prefs.MainPreferencePage" id="ie.tcd.imm.knime.cellhts2.prefs.MainPreferencePage" name="HiTS Preferences"/>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="ie.tcd.imm.hits.knime.cellhts2.prefs.PreferenceInitializer">
      </initializer>
   </extension>
   
</plugin>
