<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
  	<extension point="org.knime.workbench.repository.categories">
      <category description="Assorted utilities" icon="icons/HiTS.png" level-id="assorted" name="Assorted" path="/community/"/>
      <category description="Data manipulation" icon="icons/HiTS.png" level-id="manipulation" name="Manipulation" path="/community/assorted/"/>
      <category description="Matrix" icon="icons/HiTS.png" level-id="matrix" name="Matrux" path="/community/assorted/manipulation/"/>
      <category description="Row" icon="icons/HiTS.png" level-id="row" name="Row" path="/community/assorted/manipulation/"/>
      <category description="Column" icon="icons/HiTS.png" level-id="column" name="Column" path="/community/assorted/manipulation/"/>
   	</extension>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/community/assorted/manipulation/" factory-class="ie.tcd.imm.knime.util.pivot.PivotNodeFactory" id="ie.tcd.imm.knime.util.pivot.PivotNodeFactory"/>
      <node category-path="/community/assorted/manipulation/" factory-class="ie.tcd.imm.knime.util.unpivot.UnpivotNodeFactory" id="ie.tcd.imm.knime.util.unpivot.UnpivotNodeFactory"/>
      <node category-path="/community/assorted/manipulation/matrix/" factory-class="ie.tcd.imm.knime.util.product.DirectProductNodeFactory" id="ie.tcd.imm.knime.util.product.DirectProductNodeFactory"/>
      <node category-path="/community/assorted/manipulation/row/" factory-class="ie.tcd.imm.knime.util.merge.MergeNodeFactory" id="ie.tcd.imm.knime.util.merge.MergeNodeFactory"/>
      <node category-path="/community/assorted/manipulation/column/" factory-class="ie.tcd.imm.knime.util.power.SubsetsNodeFactory" id="ie.tcd.imm.knime.util.power.SubsetsNodeFactory"/>
   </extension>
   <extension point="org.eclipse.help.toc">
      <toc extradir="html" file="tocs/row_nodes.xml"/>
      <toc extradir="html" file="tocs/manipulation_nodes.xml"/>
      <toc extradir="html" file="tocs/column_nodes.xml"/>
      <toc extradir="html" file="tocs/matrix_nodes.xml"/>
   </extension>
</plugin>
